body {
	font-family: 'Montserrat', sans-serif;
}

.nav {
	width: 1000px;
	margin: 20px auto;
	background-color: #9A4D9A;
	
	.nav__items {
		list-style: none;
		display: inline-block;
	}
	.nav__item {
		display: inline-block;
	}
	.nav__link {
		text-decoration: none;
	}
}