@blue : #00b0ff;

#repeatedCode {
	.nav__ul {
		list-style: none;
		display: inline-block;
		margin: 0 0 0 60px;
		padding: 0;
	}
	.nav-item--highlight {
		color: #fff;
		background-color: @blue;
		transition: 0.3s all ease-out;
	}
	.small-image--highlight {
		outline: 3px solid @blue;
		outline-offset: -3px;
	}
	.menu-item--higlight {
		color: #000;
		cursor: pointer;
		transition: 0.3s all ease-out;
	}
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: aquamarine;
	box-sizing: border-box;
	margin: 0;
	position: relative;
}
.background {
	position: absolute;
	width: 100%;
	z-index: -100;
	&.one {
		height: 700px;
		background-image: url("../imgs/hero.png");
	}
	&.two {
		top: 700px;
		height: 550px;
		background-color: #fff;
		text-align: center;
		text-transform: uppercase;
    	display: flex;
    	flex-direction: column-reverse;
		span {
			font-family: Montserrat;
			color: rgba(0, 0, 0, 0.03);
			font-size: 196px;
			font-weight: 700;
			letter-spacing: 25px;
			height: 165px;
		}
	}
	&.three {
		top: 1250px;
		height: 640px;
		background: url("../imgs/surfer.png");
	}
}
img {
	width: 100%;
}
.space {
	width: 20px;
	display: inline-block;
}
.button {
	font-size: 14px;
	font-weight: 700;
	padding: 13px 33px;
	text-transform: uppercase;
	color: #fff;
	background-color: @blue;
	letter-spacing: 1px;
	transition: 0.3s all ease-out;
	&:hover {
		cursor: pointer;
		background-color: #0080ff;
	}
}

.nav {
	width: 63.5em;
	height: 2.5em;
	margin: 0 auto 1.25em;
    padding-top: 1.25em;
	.nav__logo {
		font-size: 1.875em;
		font-weight: 700;
		vertical-align: 0.15em;
	}
	.nav__items {
		#repeatedCode > .nav__ul;
		padding: 0 0 1.3125em 0;
    	vertical-align: middle;
		font-size: 0.875em;
	}
	.nav__item {
		display: inline-block;
	}
	.nav__link {
		text-decoration: none;
		color: #000;
		padding: 5px 15px;
		&:hover {
			#repeatedCode > .nav-item--highlight;
		}
	}
	.nav__link--active {
		#repeatedCode > .nav-item--highlight;
	}
	.nav__icons {
		#repeatedCode > .nav__ul;
	}
	.nav__item--icon {
		background-color: #000;
		border-radius: 50%;
		display: inline-block;
		height: 2.250em;
		width: 2.250em;
		&:hover {
			background-color: #4C58C8;
		}
	}
	.nav__icon {
		height: 2.250em;
		transform: scale(0.5, 0.5);
	}
}

.header {
	width: 45.5em;
	margin: 3.75em auto 0;
	text-align: center;
	font-family: 'Playfair Display', serif;
	.header__h1 {
		font-size: 3.125em;
	}
	.header__p {
		color: #fff;
		font-size: 1.5em;	
	}
}

.carousel {
	width: 64.375em;
	height: 600px;
	margin: 3.75em auto 0;
	box-shadow: 8px 7px 17px #e4e4e4;
	display: flex;
	background-color: #fff;
	background: linear-gradient(128.8deg, #00d2ff 0%, #00d2ff 32%, #ffffff 32%, #ffffff 100%);
	.carousel__column-left {
		flex: 42.57;
		.carousel__image {
			width: 79.5%;
    		margin: 17.68% auto;
		}
	}
	.carousel__column-middle {
		flex: 6.8;
		display: flex;
  		align-items: center;
		.carousel__small-image-container {
			display: flex;
    		flex-direction: column;
			margin-top: 25px;
		}
		.carousel__small-image{
			border: 1px solid #a0a0a0;
			margin-bottom: 3px;
			height: 70px;
			&:hover{
				#repeatedCode > .small-image--highlight;
			}
		}
		.carousel__small-image--active {
			#repeatedCode > .small-image--highlight;
		}
	}
	.carousel__column-right {
		flex: 42.57;
		display: flex;
		.carousel__content-container {
			padding: 40px;
			display: flex;
    		flex-direction: column;
		}
		.carousel__h2 {
			font-size: 20px;
			line-height: 26px;
			margin-bottom: 10px;
		}
		.carousel__stars {
			display: flex;
			.star {
				width: 14px;
				height: 14px;
				display: inline-flex;
				background: url("../imgs/Star.png");
			}
			.star--empty {
				background: url("../imgs/Star-empty.png");
			}
			.stars__count {
				display: inline-flex;
				font-size: 12px;
			}
		}
		.carousel__menu-items {
			font-size: 14px;
			font-family: 'Raleway', sans-serif;
			font-weight: 700;
			color:  #a0a0a0;
			text-transform: uppercase;
			margin-top: 30px;
    		padding-bottom: 5px;
			border-bottom: 1px solid #a0a0a0;
			.carousel__menu-item {
				padding-bottom: 4px;
				&:hover{
					#repeatedCode > .menu-item--higlight;
					border-bottom: 3px solid @blue; 
				}
			}
			.carousel__menu-item--active {
				#repeatedCode > .menu-item--higlight;
			}
		}
		.carousel__p {
			font-family: 'Raleway', sans-serif;
			color: #787878;
			line-height : 24px;
		}
		.carousel__price {
			font-size: 24px;
			font-weight: 700;
			line-height: 40px;
			margin-right: 30px;
		}
		.carousel__link {
			margin-top: 90px;
			color: @blue;
		}
		
	}
	.carousel__column-controls {
		width: 83px;
		position: relative;
		.arrows {
			display: flex;
			position: absolute;
			top: 50px;
			right: -38px;
			.arrow {
				display: flex;
				background-color: #f2d800;
				width: 38px;
				height: 38px;
				img {
					width: 50%;
					margin: auto;
				}
				&:hover {
					background-color: #B8A500;
					cursor: pointer;
				}
			}
		}
		.pagination {
			position: absolute;
			width: 50px;
			height: 38px;
			background-color: #000;
			color: #fff;
			right: 0;
			top: 88px;
			font-size: 14px;
			display: flex;
			span {
				margin: auto;
			}
		}
		.overflow-hidden {
			position: relative;
			overflow: hidden;
			height: 600px;
			width: 83px;
		}
		.rotated-text{
			position: absolute;
			font-size: 127px;
			transform: matrix(0, -1, 1, 0, -285, 264);
			text-transform: uppercase;
			display: inline-block;
			font-weight: 700;
			color: rgba(0, 0, 0, 0.03);
			letter-spacing: 10px;
			height: 83px;
    		width: 600px;
		}
	}
}